extends layout

block content
    h1= title
    p Welcome to #{title}

    input#index(value=locals.index, name='indexValue', style='width:10%;', type='number', min='1', max='1000', required)
    button(type='submit', style='margin:1%;') Generate
    
    if minionId !== null
        label(value=minionId, style='font-weight:bold;') #{minionId}

    if error !== null
        label(value=error) #{error}